// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  text-align: center;
  color: red;
  font-weight: 2em;
  font-size: 1.3em;
}